<a href="https://colab.research.google.com/github/Sarkis55/CA03--Decision-Tree_Census_Data/blob/main/CA03_Decision_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#retrieving data and loading them into dataframe
csv_url = 'https://github.com/ArinB/MSBA-CA-03-Decision-Trees/blob/master/census_data.csv?raw=true'
df = pd.read_csv(csv_url)

display(df.head())

,hours_per_week_bin,occupation_bin,msr_bin,capital_gl_bin,race_sex_bin,education_num_bin,education_bin,workclass_bin,age_bin,flag,y
0,b. 31-40,b. Mid - Low,b. Mid,c. > 0,c. High,c. 13,c. Bachelors,b. income,d. 36-40 & 56-60,train,0
1,a. 0-30,e. High,c. High,a. = 0,c. High,c. 13,c. Bachelors,b. income,e. 40-55,train,0
2,b. 31-40,a. Low,b. Mid,a. = 0,c. High,b. 9-12,b. Mid,b. income,d. 36-40 & 56-60,train,0
3,b. 31-40,a. Low,c. High,a. = 0,b. Mid,a. 0-8,a. Low,b. income,e. 40-55,train,0
4,b. 31-40,e. High,c. High,a. = 0,a. Low,c. 13,c. Bachelors,b. income,b. 26-30 & 71-100,train,0

### Q.1: Why does it makes sense to discretize columns for this problem?
-

### Q.2: What might be the issues (if any) if we DID NOT discretize the columns?
-

### Q.3 Decision Tree Hyper-parameter variation vs. performance
-

### Q.4 How long was your total run time to train the best model?
-

### Q.5 Did you find the BEST TREE?
-

### Q.6 Write your observations from the visualization of the best tree
-

### Q.7 Will this Tree “overfit”?
-

### Q.8 What is the probability that your prediction for this person is correct?
-